:root {
  /*   color variables */
  --clr-negative: #ff1744;
  --clr-positive: #2abf77;
  --clr-gray100: #f0f7f8;
  --clr-gray200: #cfd8dc;
  --clr-gray300: #a7b7be;
  --clr-gray400: #6b7e86;
  --clr-gray500: #425a65;

  /*   border radius */
  --radius: 0.2rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hachi Maru Pop', cursive, sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100vh;
  background-color: var(--clr-gray100);
  color: var(--clr-gray500);
}

#counter {
  font-size: 8rem;
}

#button__wrapper {
  display: flex;
  gap: 1rem;

  & > * {
    border: none;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px var(--clr-gray200);
    font-weight: 400;
    font-size: 2rem;
    color: inherit;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    cursor: pointer;
    outline: none;
    transition: background-color 250ms ease-in-out, transform 50ms ease-in-out;

    &:hover {
      background-color: var(--clr-gray200);
    }

    &:active {
      transform: scale(1);
    }
  }
}

.negative {
  color: var(--clr-negative);
  animation: pulse 500ms ease-in-out;
}

.positive {
  color: var(--clr-positive);
  animation: pulse 500ms ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.negative {
  color:var(--clr-negative);
 
}

.positive {
  color: var (--clr-positive);

}

#showDate {
  font-size: 20px;
  
 
}

#button__date {
margin-top: 50px;
font-size: 20px;
border-radius: 100px;
background-color: rgb(255, 240, 240);
padding: 9px;
border: 0px;


font-family: 'Hachi Maru Pop', cursive, sans-serif;
}